.car-card {
  margin-bottom: 30px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0;
}

.card-top-container img {
  width: 220.72px;
  height: 165px;
}

.card-bottom-container {
  padding: 15px 20px 15px 20px;
}

.card-bottom-container h6 {
  text-align: center;
  padding: 0 0 14px 0;
  font-size: 18px;
}

.card-bottom-container p {
  padding: 0 0 20px 0;
  font-size: 14px;
  color: rgba(88, 88, 88, 1);
  font-style: italic;
}

.card-bottom-container button {
  width: 100%;
}
