.home-container {
  padding: 20px 10px;
  font-size: 22px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background: #00285f;
}

.home-content-container h1 {
  font-size: 1em;
  color: #fff;
}

.home-content-container p {
  padding: 13px;
  font-size: 14px;
  color: #fff;
}

.home-image-container {
  padding: 60px 25px 30px 25px;
}

.home-image-container img {
  width: 100%;
  height: auto;
}

.home-card-bottom {
  margin-top: 21px;
  padding: 21px;
  background: #ededed;
  border-radius: 10px;
}

.home-bottom-content-container p {
  margin-top: 8px;
  font-size: 18px;
  color: #585858;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;
    font-size: 36px;
  }
  .home-content-container p {
    padding: 0 50px 20px 50px;
    font-size: 18px;
  }
  .home-image-container {
    padding: 50px 100px 20px 100px;
  }
  .home-card-bottom {
    display: flex;
    flex-direction: row;
    padding: 40px 70px;
  }

  .home-card-bottom p {
    padding: 10px 9px;
  }

  @media (min-width: 768px) {
    .home-image-container {
      padding: 50px 200px 20px 200px;
    }

    .home-content-container p {
      padding: 0 150px 60px 150px;
      font-size: 18px;
    }

    .home-card-bottom p {
      padding: 10px 15px;
    }
  }

  @media (min-width: 992px) {
    .home-image-container {
      padding: 100px 250px 20px 250px;
    }

    .home-content-container p {
      padding: 0 280px 120px 280px;
      font-size: 18px;
    }

    .home-card-bottom p {
      padding: 10px 15px;
    }
  }

  @media (min-width: 1280px) {
    .home-container {
      padding: 30px 150px 150px;
    }

    .home-card {
      flex-direction: row;
    }

    .home-content-container h1 {
      padding: 150px 0 0 0;
    }

    .home-content-container p {
      padding: 0px 40px 0px 50px;
      text-align: left;
    }

    .home-image-container {
      padding: 100px 50px 50px 40px;
    }
  }
}
